<!DOCTYPE html>
<html>
<head>
	<title>RDAS | Dashboard</title>
	<meta name=”viewport” content=”width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Francois+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Sunflower:300" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Expanded" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css?family=Krona+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet"> 
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>

  <script type="text/javascript" src="../static/js/jquery.min.js"></script>
  <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../static/js/d3/d3.min.js"></script>

  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../static/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
  <link rel=”stylesheet” href=”css/bootstrap-responsive.css”>

<style type="text/css">

.title {
	font-family: 'Open Sans', sans-serif;
	/*font-size: 45px;*/
	padding-top: 5px;

}
.gif {
	width: 100%;
	height: 600px;
}
.top {
	position: fixed;
  	top: 0px; 
  	width: 100%;
  	z-index: 1;
  	box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
}	

.head {
	color: #c76063;
	text-shadow: 2px 2px 4px #80393b;
	font-size: 50px;
}

.logo {
	height: 100px;
	width: 150px;
	padding-left: 10px;
}

.side-bar {
	/*background-color: #ff471a;*/
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;	
}

.side-bar:hover {
	transform: scale(1.1, 1);
	/*background-color: #ff471a;*/
	border-radius: 15px 0px 15px 0px;
	box-shadow: 0px 7px 5px #ad5154;
	transition: 0.3s;
}

.card {
	margin-left: 40px;
	margin-right: 50px;
	margin-bottom: 30px;
	border-width: 15px;
	/* border-color:white; */
	box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
	border-radius: 7px;
	margin-top: 20px;
	/* background-color: white; */
	padding-top: 10px;
	/* height: 550px; */
	color: white;
	text-align: center;
	max-width: 675px;
	box-sizing: border-box;
}

.card:hover {
	transition: 0.3s;
	box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
	transform: scale(1.1,1.1);
}

.container {
	padding-bottom: 5px;
	width: 100%;
	height: 375px;
}
.container-wide {
	width: 100%;
	height: 500px;
	padding-bottom: 5px;
	align-self: center;
}
.stations{
	position: fixed;
	z-index: 1;
	background-color: #c76063;
  	height: 100%;
  	left: 0px;
	box-shadow: 0px 4px 8px rgba(0,0,0,0.2);

}
.firstgif {
    width: 60%;
    height: 50%;
    object-fit: cover;
  }

  input{
    border-radius: 3px;
    width:100%;
    height:40px;
    padding-left: 20px;
}

.zero-pad{
    padding: 0;
    /* padding-right: 5px; */
    border: 1px solid rgb(255, 255, 255);
}

.con{
    width:100%;
}
select{
    border-radius: 3px;
    width:100%;
    height:40px;

}
input[type="submit"]{
      background: rgb(247, 113, 3);
     border: 0;
     width: 50%;
     height: 45px;
     border-radius: 3px;
     color: white;
     transition: background 0.4s linear;
   }

   input[type="reset"]{
      background: rgb(247, 113, 3);
     border: 0;
     width: 48%;
     height: 45px;
     border-radius: 3px;
     color: white;
     transition: background 0.4s linear;
   }


    .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    }

    .tab button.active {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(247, 113, 3);
    width:100%;
    /* padding: 15px 32px; */
    }

    .tabcontent {
    text-align: center;
    display: none;
    padding: 6px 12px;
    border-top: none;
    }

    .tab {
    background-color: #edf5e1;
    border: 1px;
    width: 40%;
    margin-left:39%;
    /* border: 1px solid rgb(0, 0, 0); */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    }

    .ab{
        /* border-righr-style: solid; */
        height: auto;
    }
    .bc{
        /* border-righr-style: solid; */
        height: auto; 
    }

    .border{
        border-right: 1px solid rgb(0, 0, 0);
    }

    .buy {
    width: 50%;
    position: absolute;
    top: 60%;
    left: 38%;
    margin: -184px 0px 0px -155px;
    background:rgb(242, 235, 224);
    opacity: 1;
    padding: 20px;
    border-radius: 5px;
    }
</style>

</head>

<body style="background-color:#E8E8E8; overflow-x:hidden;">
	<div class="container-fluid top">
		<div class="row" id="navbar" style="background-color:#E8E8E8;">
			<div class="col-md-2 col-sm-12">
				<center><a href="#DASHBOARD"><img src="../static/imgs/logo.png" class="logo" style="padding-top: 10px;"></a></center>
			</div>
			<div class="col-md-10 col-sm-12 title">
				<center><a href="#DASHBOARD" class="head"><b>Railway Data Analysis System (RDAS)</b></a></center>
			</div>
		</div>
	</div>
	<div class="container-fluid" style="padding-top: 100px;">
		<div class="row" >
			<div class="col-md-2 col-sm-12 stations" style=" background-color: #c76063;">
				<div class="side-bar"><a href="#DASHBOARD" target="_self" style="color: white;">DASHBOARD</a></div>
				<div class="side-bar"><a href="#VIRAR" target="_self" style="color: white;">VIRAR</a></div>
				<div class="side-bar"><a href="#VASAI" target="_self" style="color: white;">VASAI</a></div>
				
				<div class="side-bar"><a href="#PALGHAR" target="_self" style="color: white;">PALGHAR</a></div>
				
				<div class="side-bar"><a href="#BORIVALI" target="_self" style="color: white;">BORIVALI</a></div>
				
				<div class="side-bar"><a href="#DADAR" target="_self" style="color: white;">DADAR</a></div>
				<hr style="border-color: white; padding-left: 5px; padding-right: 5px;border-width: 5px;border-radius: 5px;">

				<center><h3 style="color: white;">Suggestions</h3>
					<marquee direction='down' style="transition-delay: 0.5s; overflow:scroll; overflow-x: hidden; overflow-y:scroll; background-color: white; color: red;">{{s}} Station Needs More Trains to deploy as it is most crowded. <br><br>{{s1}} is the most visited station hence minutes of halt and number of trains should increase in this station. <br><br>{{s2}} is the least visited station. </marquee>
				</center>
			</div>
			</div>
															<!-- center image -->
			<div class="row" style="background-color: #383838;box-shadow: 0px 4px 8px rgba(0,0,0,0.2);">
				<!-- #43568b -->
				<div class="col-md-2 col-sm-12"></div>
				<div class="col-md-10 col-sm-12">
					<img src="../static/imgs/c.gif">
				</div>
				
		</div>
														<!-- 2 cards adjoining image -->
<section id="DASHBOARD">
		<div class="col-md-2 col-sm-12"></div>
		<div class="row jumbotron">
			<div class="tab">
				<div class="col-md-6 col-sm-12 zero-pad"><button class="tablinks con" onclick="opentab(event, 'Buy')">Current</button></div>
				<div class="col-md-6 col-sm-12 zero-pad"><button class="tablinks con" onclick="opentab(event, 'Sell')">Predict Now</button></div>
			</div>
			<div id="Buy" class="tabcontent">
				<!-- <center><h3>Current</h3></center> -->
				<div class="row">
					<div class="col-md-2 col-sm-12"></div>
					<div class="col-md-6 col-sm-12 card"   style="background-color: #43568b;">
						<h3>Dashboard 1</h3>
						<div class="container">
						<!-- <div id="piegraph" >
				<script>
					var pie1 = {{plot | safe}};
					
					Plotly.plot('piegraph',pie1,{});
					
				</script>
						</div> -->
						</div>
					</div>
					<div class="col-md-4 col-sm-12 card"   style="background-color: #43568b;">
						<h3>Dashboard 2</h3>
						<div class="container">
						<!-- <div class="chart" id="bargraph">
				<script>
					var graph1 = {{plot1 | safe}};
					
					Plotly.plot('bargraph',graph1,{});
					
				</script>
						</div> -->
						</div>
					</div>
					
				</div>
			
															<!-- wide card or graph -->
				<div class="row" >
					<div class="col-md-3 col-sm-12"></div>
					<div class="col-md-9 col-sm-12 card" style="background-color: #589167;">
						<h3>Dashboard 3</h3>
						<div class="container-wide">
						<!-- <div class="chart" id="bargraph1">
				<script>
					var graph2 = {{plot2 | safe}};
					
					Plotly.plot('bargraph1',graph2,{});
					
				</script>
			</div> -->
			</div>
			
				</div>
				</div>
			</div>
			<div id="Sell" class="tabcontent">
				<!-- <center><h3> Predict Now</h3></center> -->
				<div class="row">
					<div class="col-md-2 col-sm-12"></div>
					<div class="col-md-6 col-sm-12 card"   style="background-color: #43568b;">
						<h3>Dashboard 1</h3>
						<div class="container">
						<!-- <div id="piegraph" >
				<script>
					var pie1 = {{plot | safe}};
					
					Plotly.plot('piegraph',pie1,{});
					
				</script>
						</div> -->
						</div>
					</div>
					<div class="col-md-4 col-sm-12 card"   style="background-color: #43568b;">
						<h3>Dashboard 2</h3>
						<div class="container">
						<!-- <div class="chart" id="bargraph">
				<script>
					var graph1 = {{plot1 | safe}};
					
					Plotly.plot('bargraph',graph1,{});
					
				</script>
						</div> -->
						</div>
					</div>
					
				</div>
			
															<!-- wide card or graph -->
				<div class="row" >
					<div class="col-md-3 col-sm-12"></div>
					<div class="col-md-9 col-sm-12 card" style="background-color: #589167;">
						<h3>Dashboard 3</h3>
						<div class="container-wide">
						<!-- <div class="chart" id="bargraph1">
				<script>
					var graph2 = {{plot2 | safe}};
					
					Plotly.plot('bargraph1',graph2,{});
					
				</script>
			</div> -->
			</div>
			
				</div>
				</div>
			</div>
		</div>
		
	
</section>

<!-- VIRAR -->
<section id="VIRAR">
	<div class="col-md-2 col-sm-12"></div>
	<div class="row jumbotron">
		<div class="tab">
			<div class="col-md-6 col-sm-12 zero-pad"><button class="tablinks con" onclick="opentab(event, 'Buy')">Current</button></div>
			<div class="col-md-6 col-sm-12 zero-pad"><button class="tablinks con" onclick="opentab(event, 'Sell')">Predict Now</button></div>
		</div>
		<div id="Buy" class="tabcontent">
			<!-- <center><h3>Current</h3></center> -->
			<div class="row">
				<div class="col-md-2 col-sm-12"></div>
				<div class="col-md-6 col-sm-12 card"   style="background-color: #64c4ed;">
					<h3>VIRAR 1</h3>
					<div class="container">
					<div id="piegraph" >
					<script>
						var pie1 = {{plot | safe}};
						
						Plotly.plot('piegraph',pie1,{});
						
					</script>
			        </div>
					</div>
				</div>
					<div class="col-md-4 col-sm-12 card"   style="background-color: #64c4ed;">
						<h3>VIRAR 2</h3>
						<div class="container">
						<div class="chart" id="bargraph">
					<script>
						var graph1 = {{plot1 | safe}};
						
						Plotly.plot('bargraph',graph1,{});
						
					</script>
			  </div>
			  </div>
						</div>
						
					</div>
		
																<!-- wide card or graph -->
					<div class="row" >
						<div class="col-md-3 col-sm-12"></div>
						<div class="col-md-9 col-sm-12 card" style="background-color: #589167;">
							<h3>VIRAR 3</h3>
							<div class="container-wide">
							<div class="chart" id="bargraph1">
					<script>
						var graph2 = {{plot2 | safe}};
						
						Plotly.plot('bargraph1',graph2,{});
						
					</script>
			  </div>
			  </div>
		
					</div>
					</div>
			</div>
			<div id="Sell" class="tabcontent">
				<div class="row">
			<div class="col-md-2 col-sm-12"></div>
			<div class="col-md-6 col-sm-12 card"   style="background-color: #64c4ed;">
				<h3>VIRAR 1</h3>
					<div class="container">
					<!-- <div id="piegraph" >
		    <script>
		        var pie1 = {{plot | safe}};
		        
		        Plotly.plot('piegraph',pie1,{});
		        
		    </script>
	 </div> -->
					</div>
				</div>
				<div class="col-md-4 col-sm-12 card"   style="background-color: #64c4ed;">
					<h3>VIRAR 2</h3>
					<div class="container">
					<!-- <div class="chart" id="bargraph">
		    <script>
		        var graph1 = {{plot1 | safe}};
		        
		        Plotly.plot('bargraph',graph1,{});
		        
		    </script>
	  </div> -->
	  </div>
				</div>
				
			</div>

														<!-- wide card or graph -->
			<div class="row" >
				<div class="col-md-3 col-sm-12"></div>
				<div class="col-md-9 col-sm-12 card" style="background-color: #589167;">
					<h3>VIRAR 3</h3>
					<div class="container-wide">
					<!-- <div class="chart" id="bargraph1">
		    <script>
		        var graph2 = {{plot2 | safe}};
		        
		        Plotly.plot('bargraph1',graph2,{});
		        
		    </script>
	  </div> -->
	  </div>

			</div>
			</div>
			</div>
		</div>
</section>	
<!-- VASAI -->
		<section id="VASAI">
			<div class="col-md-2col-sm-12"></div>
		<div class="row jumbotron">
			
			<div class="tab">
				<div class="col-md-6 col-sm-12 zero-pad"><button class="tablinks con" onclick="opentab(event, 'Buy')">Current</button></div>
				<div class="col-md-6 col-sm-12 zero-pad"><button class="tablinks con" onclick="opentab(event, 'Sell')">Predict Now</button></div>
			</div>
		
			<div id="Buy" class="tabcontent">
				<!-- <center><h3>Current</h3></center> -->
				<div class="row" >
					<div class="col-md-2 col-sm-12"></div>
					<div class="col-md-6 col-sm-12 card"   style="background-color: #ac8daf;">
						<h3>VASAI 1</h3>
							<div class="container">
							<div id="piegraph1" >
					<script>
						var pie2 = {{plot3 | safe}};
						
						Plotly.plot('piegraph1',pie2,{});
						
					</script>
			 </div>
							</div>
						</div>
						<div class="col-md-4 col-sm-12 card"   style="background-color: #ac8daf;">
							<h3>VASAI 2</h3>
							<div class="container">
							<div class="chart" id="bargraph2">
					<script>
						var graph4 = {{plot4 | safe}};
						
						Plotly.plot('bargraph2',graph4,{});
						
					</script>
			  </div>
			  </div>
		
						</div>
						
				</div>
																<!-- wide card or graph -->
				<div class="row" >
					<div class="col-md-3 col-sm-12"></div>
					<div class="col-md-9 col-sm-12 card" style="background-color: #589167;">
						<h3>VASAI 3</h3>
						<div class="container-wide">
							<div class="chart" id="bargraph3">
					<script>
						var graph5 = {{plot5 | safe}};
						
						Plotly.plot('bargraph3',graph5,{});
					   
					</script>
			  </div>
			  </div>
					</div>
				</div>
			</div>
		
			<div id="Sell" class="tabcontent">
				<!-- <center><h3> Predict Now</h3></center> -->
				<div class="row" >
					<div class="col-md-2 col-sm-12"></div>
					<div class="col-md-6 col-sm-12 card"   style="background-color: #ac8daf;">
						<h3>VASAI 1</h3>
							<div class="container">
							<!-- <div id="piegraph1" >
					<script>
						var pie2 = {{plot3 | safe}};
						
						Plotly.plot('piegraph1',pie2,{});
						
					</script>
			 </div> -->
							</div>
						</div>
						<div class="col-md-4 col-sm-12 card"   style="background-color: #ac8daf;">
							<h3>VASAI 2</h3>
							<div class="container">
							<!-- <div class="chart" id="bargraph2">
					<script>
						var graph4 = {{plot4 | safe}};
						
						Plotly.plot('bargraph2',graph4,{});
						
					</script>
			  </div> -->
			  </div>
		
						</div>
						
				</div>
																<!-- wide card or graph -->
				<div class="row" >
					<div class="col-md-3 col-sm-12"></div>
					<div class="col-md-9 col-sm-12 card" style="background-color: #589167;">
						<h3>VASAI 3</h3>
						<div class="container-wide">
							<!-- <div class="chart" id="bargraph3">
					<script>
						var graph5 = {{plot5 | safe}};
						
						Plotly.plot('bargraph3',graph5,{});
					   
					</script>
			  </div> -->
			  </div>
					</div>
				</div>
			</div>
		</div>

			
		</section>
		
<!-- PALGHAR -->
		<section id="PALGHAR">
			<div class="col-md-2col-sm-12"></div>
		<div class="row jumbotron">
			
			<div class="tab">
				<div class="col-md-6 col-sm-12 zero-pad"><button class="tablinks con" onclick="opentab(event, 'Buy')">Current</button></div>
				<div class="col-md-6 col-sm-12 zero-pad"><button class="tablinks con" onclick="opentab(event, 'Sell')">Predict Now</button></div>
			</div>
		
			<div id="Buy" class="tabcontent">
				<!-- <center><h3>Current</h3></center> -->
				<div class="row" >
					<div class="col-md-2 col-sm-12"></div>
					<div class="col-md-6 col-sm-12 card"   style="background-color: #28c3d4;">
						<h3>PALGHAR 1</h3>	
						<div class="container">
							<div id="piegraph2" >
					<script>
						var pie3 = {{plot6 | safe}};
						
						Plotly.plot('piegraph2',pie3,{});
						
					</script>
			 </div>
							</div>
						</div>
						<div class="col-md-4 col-sm-12 card"   style="background-color: #28c3d4;">
							<h3>PALGHAR 2</h3>
							<div class="container">
							<div class="chart" id="bargraph4">
					<script>
						var graph6 = {{plot7 | safe}};
						
						Plotly.plot('bargraph4',graph6,{});
						
					</script>
			  </div>
			  </div>
						</div>
						
				</div>
																<!-- wide card or graph -->
				<div class="row" >
					<div class="col-md-3 col-sm-12"></div>
					<div class="col-md-9 col-sm-12 card" style="background-color: #f7b71d;">
						<h3>PALGHAR 3</h3>
						<div class="container-wide">
							<div class="chart" id="bargraph5">
					<script>
						var graph7 = {{plot8 | safe}};
						
						Plotly.plot('bargraph5',graph7,{});
					   
					</script>
			  </div>
			  </div>
					</div>
				</div>
			</div>
		
			<div id="Sell" class="tabcontent">
				<!-- <center><h3> Predict Now</h3></center> -->
				<div class="row" >
					<div class="col-md-2 col-sm-12"></div>
					<div class="col-md-6 col-sm-12 card"   style="background-color: #28c3d4;">
						<h3>PALGHAR 1</h3>	
						<div class="container">
							<!-- <div id="piegraph2" >
					<script>
						var pie3 = {{plot6 | safe}};
						
						Plotly.plot('piegraph2',pie3,{});
						
					</script>
			 </div> -->
							</div>
						</div>
						<div class="col-md-4 col-sm-12 card"   style="background-color: #28c3d4;">
							<h3>PALGHAR 2</h3>
							<div class="container">
							<!-- <div class="chart" id="bargraph4">
					<script>
						var graph6 = {{plot7 | safe}};
						
						Plotly.plot('bargraph4',graph6,{});
						
					</script>
			  </div> -->
			  </div>
						</div>
						
				</div>
																<!-- wide card or graph -->
				<div class="row" >
					<div class="col-md-3 col-sm-12"></div>
					<div class="col-md-9 col-sm-12 card" style="background-color: #f7b71d;">
						<h3>PALGHAR 3</h3>
						<div class="container-wide">
							<!-- <div class="chart" id="bargraph5">
					<script>
						var graph7 = {{plot8 | safe}};
						
						Plotly.plot('bargraph5',graph7,{});
					   
					</script>
			  </div> -->
			  </div>
					</div>
				</div>
			</div>
		</div>

			
		</section>
		
<!-- BORIVALI -->
<section id="BORIVALI">
			<div class="col-md-2col-sm-12"></div>
		<div class="row jumbotron">
			
			<div class="tab">
				<div class="col-md-6 col-sm-12 zero-pad"><button class="tablinks con" onclick="opentab(event, 'Buy')">Current</button></div>
				<div class="col-md-6 col-sm-12 zero-pad"><button class="tablinks con" onclick="opentab(event, 'Sell')">Predict Now</button></div>
			</div>
		
			<div id="Buy" class="tabcontent">
				<!-- <center><h3>Current</h3></center> -->
				<div class="row" >
					<div class="col-md-2 col-sm-12"></div>
					<div class="col-md-6 col-sm-12 card"   style="background-color: #28c3d4;">
						<h3>BORIVALI 1</h3>	
						<div class="container">
							<div id="piegraph3" >
					<script>
						var pie4 = {{plot9 | safe}};
						
						Plotly.plot('piegraph3',pie4,{});
						
					</script>
			 </div>
							</div>
						</div>
						<div class="col-md-4 col-sm-12 card"   style="background-color: #28c3d4;">
							<h3>BORIVALI 2</h3>
							<div class="container" style="width: 100%;height: 375px;">
							<div class="chart" id="bargraph6">
					<script>
						var graph8 = {{plot10 | safe}};
						
						Plotly.plot('bargraph6',graph8,{});
						
					</script>
			  </div>
			  </div>
						</div>
						
				</div>
																<!-- wide card or graph -->
				<div class="row" >
					<div class="col-md-3 col-sm-12"></div>
					<div class="col-md-9 col-sm-12 card" style="background-color: #f7b71d;">
						<h3>BORIVALI 3</h3>
						<div class="container-wide">
							<div class="chart" id="bargraph7">
					<script>
						var graph9 = {{plot11 | safe}};
						
						Plotly.plot('bargraph7',graph9,{});
					   
					</script>
			  </div>
			  </div>
					</div>
				</div>
			</div>
		
			<div id="Sell" class="tabcontent">
				<!-- <center><h3> Predict Now</h3></center> -->
				<div class="row" >
					<div class="col-md-2 col-sm-12"></div>
					<div class="col-md-6 col-sm-12 card"   style="background-color: #28c3d4;">
						<h3>BORIVALI 1</h3>	
						<div class="container">
							<!-- <div id="piegraph3" >
					<script>
						var pie4 = {{plot9 | safe}};
						
						Plotly.plot('piegraph3',pie4,{});
						
					</script>
			 </div> -->
							</div>
						</div>
						<div class="col-md-4 col-sm-12 card"   style="background-color: #28c3d4;">
							<h3>BORIVALI 2</h3>
							<div class="container" style="width: 100%;height: 375px;">
							<!-- <div class="chart" id="bargraph6">
					<script>
						var graph8 = {{plot10 | safe}};
						
						Plotly.plot('bargraph6',graph8,{});
						
					</script>
			  </div> -->
			  </div>
						</div>
						
				</div>
																<!-- wide card or graph -->
				<div class="row" >
					<div class="col-md-3 col-sm-12"></div>
					<div class="col-md-9 col-sm-12 card" style="background-color: #f7b71d;">
						<h3>BORIVALI 3</h3>
						<div class="container-wide">
							<!-- <div class="chart" id="bargraph7">
					<script>
						var graph9 = {{plot11 | safe}};
						
						Plotly.plot('bargraph7',graph9,{});
					   
					</script>
			  </div> -->
			  </div>
					</div>
				</div>
			</div>
		</div>
</section>
		
<!-- DADAR -->
		<section id="DADAR">
			<div class="col-md-2col-sm-12"></div>
		<div class="row jumbotron">
			<div class="tab">
				<div class="col-md-6 col-sm-12 zero-pad"><button class="tablinks con" onclick="opentab(event, 'Buy')">Current</button></div>
				<div class="col-md-6 col-sm-12 zero-pad"><button class="tablinks con" onclick="opentab(event, 'Sell')">Predict Now</button></div>
			</div>
		
			<div id="Buy" class="tabcontent">
				<!-- <center><h3>Current</h3></center> -->
				<div class="row" >
					<div class="col-md-2 col-sm-12"></div>
					<div class="col-md-6 col-sm-12 card"   style="background-color: #ca314c;">
						<h3>DADAR 1</h3>	
						<div class="container">
							<div id="piegraph4" >
					<script>
						var pie5 = {{plot12 | safe}};
						
						Plotly.plot('piegraph4',pie5,{});
						
					</script>
			 </div>
							</div>
						</div>
						<div class="col-md-4 col-sm-12 card"   style="background-color: #ca314c;">
							<h3>DADAR 2</h3>
							<div class="container">
							<div class="chart" id="bargraph8">
					<script>
						var graph10 = {{plot13 | safe}};
						
						Plotly.plot('bargraph8',graph10,{});
						
					</script>
			  </div>
			  </div>
						</div>
						
				</div>
																<!-- wide card or graph -->
				<div class="row" >
					<div class="col-md-3 col-sm-12"></div>
					<div class="col-md-9 col-sm-12 card" style="background-color: #f7b71d;">
						<h3>DADAR 3</h3>
						<div class="container-wide">
							<div class="chart" id="bargraph9">
					<script>
						var graph11 = {{plot14 | safe}};
						
						Plotly.plot('bargraph9',graph11,{});
					   
					</script>
			  </div>
			  </div>
					</div>
				</div>
			</div>
		
			<div id="Sell" class="tabcontent">
				<!-- <center><h3> Predict Now</h3></center> -->
				<div class="row" >
					<div class="col-md-2 col-sm-12"></div>
					<div class="col-md-6 col-sm-12 card"   style="background-color: #ca314c;">
						<h3>DADAR 1</h3>	
						<div class="container">
							<!-- <div id="piegraph4" >
					<script>
						var pie5 = {{plot12 | safe}};
						
						Plotly.plot('piegraph4',pie5,{});
						
					</script>
			 </div> -->
							</div>
						</div>
						<div class="col-md-4 col-sm-12 card"   style="background-color: #ca314c;">
							<h3>DADAR 2</h3>
							<div class="container">
							<!-- <div class="chart" id="bargraph8">
					<script>
						var graph10 = {{plot13 | safe}};
						
						Plotly.plot('bargraph8',graph10,{});
						
					</script>
			  </div> -->
			  </div>
						</div>
						
				</div>
																<!-- wide card or graph -->
				<div class="row" >
					<div class="col-md-3 col-sm-12"></div>
					<div class="col-md-9 col-sm-12 card" style="background-color: #f7b71d;">
						<h3>DADAR 3</h3>
						<div class="container-wide">
							<!-- <div class="chart" id="bargraph9">
					<script>
						var graph11 = {{plot14 | safe}};
						
						Plotly.plot('bargraph9',graph11,{});
					   
					</script>
			  </div> -->
			  </div>
					</div>
				</div>
			</div>
		</div>

			
		</section>	
	</div>
<script>
        function opentab(evt, cityName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>
</body>
</html>